<!DOCTYPE html>
<html lang="en">

<head>
    <link rel=icon href="/static/img/favicon.ico" type="image/x-icon" sizes="32x32">
	<FONT face="arial">
        {% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OLAPS</title>
    {% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css" /> </head>
    {% endblock stylesheet %}
<body>
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <img src="/static/img/logo.png" height="100px" width="180px">
                </div>
                <div class="nav-list">
                    {% block nav %}
                    <div class="hamburger"><div class="bar"> </div></div>
                    <ul>
                        <li><a href="#" data-after="home">Accueil</a></li>
                        <li><a href="#services2"data-after="services">Solution olaps</a></li>
                        <li><a href="#olaps2"data-after="olaps">olaps</a></li>
                        <li><a href="#partenaires"data-after="partenaires">partenaires</a></li>
                        <li><a href="formulaire"data-after="demo">Demander une démo</a></li>
                    </ul>
                    {% endblock nav %}
                </div>
            </div>
        </div>
    </section>




    <section id="cube">
        <div class="container reveal">
            <section id="hero">
                <div class="hero container">
                    <div class="hero-top">
                        <h1 class="section-title">Orientez votre enetreprise au coeur de la data avec Olaps  </h1>
                    </div>
                    <div class="hero-bottom">
                        <div class="hero-item">
                            <h1 class="section-title">Annalysez vos données en toute simplicité avec Olaps </h1>
                            <p>Bénéficiez de tableaux de bord connectés en direct sur toutes vos sources de données afin de libérer leur potentiel.
                            </p>
                            <br>
                            <p>B-Olaps est une plateforme complète d'analyse et visualisation de données, vous pouvez croiser vos données à la volée venant de vos différents outils et les visualiser simplement.
                            </p>
                            <a href="formulaire">decouvrir B-Olaps</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section id="hero2_1">
            <div class="container reveal">
                <div class="hero2_1 container">
                    <div class="hero2_1-top">
                        <h1 class="section-title">Vos données à jours réellement</h1>
                        <br>
                        <h1 class="section-title">Vos données utilisable sur PC, tablette et smartphone</h1>
                        <br>
                        <h1 class="section-title">Partage des tableaux, gestion des accès et sécurité de vos données</h1>
                        <br>
                        <h1 class="section-title">Plateforme intuitive et dashboard rapide</h1>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section id="box">
        <section id="services2">
           <div class="container reveal">
              <div class="service2 container">
                 <div class="service2-top">
                    <div class="service2-item">
                       <div class="b-olaps">
                          <h1 class="section-title">Votre croissance passent par une meilleure lecture de vos données</h1>
                          <p>B-Olaps vous fournit plusieurs types de présentation pour faire parler vos données : cartographies, tableaux croisés, secteurs, cartes de performances… Tous les éléments sont réunis pour transformer vos données en informations.
                             <br> <br>
                          <p>
                             Avec B-Olaps, vous avez tous les outils nécessaires à l’exploitation de vos données. Construisez en quelques minutes des tableaux de bord connectés en temps réel sur vos données.
                          </p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </section>
        <section id="services4">
           <div class="container reveal">
              <div class="service4 container">
                 <div class="service4-top">
                    <h1 class="section-title">Croissement de vos données ultra rapide</h1>
                    <p>
                       B-Olaps vous permet de vous connecter en direct sur toutes vos données. 
                    </p>
                 </div>
                    <div class="service-item">
                        <img src="/static/img/postgresql-php-osx-brew-922x1024-2-300x300.png" width="100px" height="100px">
                        <img src="/static/img/1200px-MySQL.svg_-1-300x300.png" width="100px" height="100px">
                        <img src="/static/img/58481021cef1014c0b5e494b-300x300.png" width="100px" height="100px">
                        <img src="/static/img/584817d6cef1014c0b5e4999-300x300.png" width="100px" height="100px">
                        <img src="/static/img/58482f85cef1014c0b5e4a84-1-300x300.png" width="100px" height="100px">
                        <img src="/static/img/a29710c-Docs_IBMDb2.Square-1-e1612193825947-150x150.png" width="100px" height="100px">
                        <img src="/static/img/autocollants-logo-instagram-300x300.png" width="100px" height="100px">
                        <img src="/static/img/facebook-e1612195198861-150x150.png" width="100px" height="100px">
                        <img src="/static/img/logo-google-analytics-1-300x300.png" width="100px" height="100px">
                        <img src="/static/img/microsoft-access-300x300.png" width="100px" height="100px">
                        <img src="/static/img/mssql-1-300x300.png" width="100px" height="100px">
                        <img src="/static/img/odbc-300x300.png" width="100px" height="100px">
                        <img src="/static/img/telechargement-300x300.png" width="100px" height="100px">
                        <img src="/static/img/twitter-300x300.png" width="100px" height="100px">
                    </div>

                    <p>
                        B-Olaps repose sur une technologie interne de croisement de données qui vous permet de fusionner des données diverses, à la volée, sans avoir à créer un entrepôt de données
                    </p>
            </div>
        </section>
        <section id="olaps2">
            <div class="container reveal">
               <h1 class="section-title">Les origines d'Olaps</h1>
            </div>
            <div class="container reveal">
               <p>Fort de leur expérience dans l’accompagnement digital,David, Thibaud et Thuan sont parti d’un constat simple : Nos clients disposent d’un grand nombre de données, mais peu d’entre eux savent les exploiter intégralement.
                  Ils décident donc d’aider leur client dans le monde de la Big Data. Comment ? A l’aide d’O-Cube qui permet aux décisionnaires de construire les puzzles de leurs Datas
                  Notre équipe est aujourd’hui composé de 5 personnes, dont la majorité sont dédié à la création d’innovations et de valeurs ajoutées.
               </p>
            </div>
            <div class="olaps2_container">
               <div class="container reveal">
                    <div class="wrapper">
                        <div class="tete_container">
                            <article class="tete">
                                <article class="Thibaud">
                                    <img src="/static/img/Thibaud.jfif">
                                </article>
                                <h2>Thibaud Selmire</h2>
                            </article>
                            <article class="tete">
                                <article class="Thuan">
                                    <img src="/static/img/1556540815072.jpg">
                                </article>
                                <h2>Thuan Trinh</h2>
                            </article>
                            <article class="tete">
                                <article class="David">
                                    <img src="/static/img/David_MANDY.webp">
                                </article>
                            <h2>David Mandy</h2>
                            </article>
                        </div>
                    </div>
               </div>
            </div>
        </section>
        <section id="olaps3">
            <div class="container reveal">
               <div class="olaps3 container">
                  <h1 class="section-title">Pourquoi choisir B-Olaps</h1>
                  <div class="olaps3-item">
                     <p>Afin de permettre aux utilisateurs de B-Olaps de tirer encore plus d’intelligence de leurs données, nous avons réalisé un moteur de machine learning automatisé. Vous pouvez faire des prédictions en un clic : prévision temporelle, classification, prédiction numérique (régression). </p>
                     <br><br>
                     <p>B-Olaps rend intelligible la masse de données accessible à vos utilisateurs. Notre solution offre toutes les principales représentations visuelles avec des indicateurs lisibles et complets. Nos tableaux de bord sont complètement interactifs et dynamiques. </p>
                     <br><br>
                     <p>Notre solution est pensée pour répondre aux problématiques de sécurités. Vous avez accès à des niveaux de granularité fin de gestion des droits (utilisateurs, connexion, jeux de données, tableaux de bord).</p>
                  </div>
               </div>
            </div>
        </section>
        <section id="partenaires">
            <div class="container reveal">
                <h1 class="section-title">Ils nous ont fait confiance</h1>  
            </div>
            <div class="container reveal">
                <div class="wrapper">              
                    <div class="partenaires_container">
                        <article class="Be-eyes">
                            <img src="/static/img/Be_eyes.webp" width="150px" height="100px">
                        </article>
                        <article class="BiCloud">
                            <img src="/static/img/bicloud.png" width="100px" height="100px">
                        </article>
                        <article class="Microsoft">
                            <img src="/static/img/Microsoft.png" width="100px" height="100px">
                        </article>
                        <article class="TrottInRide">
                            <img src="/static/img/Logo_TrottInRide.webp" width="100px" height="100px">
                        </article>
                        <article class="Opticod">
                            <img src="/static/img/LogoOpticod.png" width="100px" height="100px">
                        </article>
                        <article class="Toponymy">
                            <img src="/static/img/picwish.png" width="100px" height="100px">
                        </article>
                        <article class="TelecommandeExpress">
                            <img src="/static/img/logoTE-fr.png" width="100px" height="100px">
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </section>
    {% block javascript %}
    <script src="/static/js/script.js"></script>
    {% endblock javascript %}
</FONT>
</body>

</html>



